<div
  [ngStyle]="{
    display: jokes.length > 0 ? 'block' : 'none'
  }"
>
  <h2>Chuck Norris found:</h2>

  <ol class="find-joke__list">
    <li
      class="find-joke__item"
      *ngFor="let joke of jokes | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize"
    >
      {{ joke.value }}
    </li>
  </ol>

  <ngb-pagination
    class="d-flex justify-content-center"
    [collectionSize]="jokes.length / 2"
    [(page)]="page"
    [maxSize]="pageSize"
    [rotate]="true"
  ></ngb-pagination>
</div>
